.title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
body {
    background: black;
    color: white;
    font-family: Arial, sans-serif;
}
.start {
    background: white;
    border: thick gray solid;
    height: 150px;
}
.start ul {
    display: block;
    text-align: center;
    border: 2px black solid;
}
.start ul li {
    list-style-type: none;
    display: inline-block;
    margin: 5px 3em;
}
.construction {
    text-align: center;
    font-size: 40px;
    margin: 10px 10px 20;;
}
#dot1 {
    color: black;
}
#dot2 {
    color: black;
    font-size: 65px;   
}
#dot3 {
    color: black;
    font-size: 85px;    
}
.face {
    font-size: 25px;
}
.feedback {
    text-align: center;
    font-size: 20px;
    margin: 20px;
}
.left {
    text-align: left;
    display: inline-block;
}
.btn {
    text-align: center;
}
#gotohome {
    width: 60px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    background: rgb(133, 4, 4);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0.5px 3px 2px 3px rgb(63, 6, 6);
    text-align: center;
    margin: 2% 3%;
    outline: none;
}
#gotohome:hover {
    background: rgb(11, 150, 34);
    font-size: 20px;
    box-shadow: 0.5px 0px 2px 3px rgb(9, 90, 40);    
}
.thankyou {
    font-weight: bold;
}